@charset "utf-8";
/* CSS Document */

h1 {
	color: #FF0004;
	Font-size: 3em;
	border-spacing: inherit;
	text-align: center
}

body {
	background-color: lightgrey;
}

p {
	font-size: 1.5em;
	text-align: center;
	display: inline-block;
}