@charset "utf-8";
/* CSS Document */

h1 {
	color: #FF0004;
	Font-size: 3em;
	border-spacing: inherit;
	text-align: center;
}

h2 {
	color: #1417BF;
	font-size:1.5em;
}

table{
	font-size: 1.25em;
	line-height: 40px;
}
body {
  background-color: cadetblue;
  padding-left: 2em;
  padding-right: 2em;
}

div{
	margin-bottom: 1em;
}

	